.whiteboard {
  overflow-x: clip;
  user-select: none;
}

.hero img,
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p,
.hero button {
  z-index: 2 !important;
  position: relative;
  pointer-events: none;
}

canvas {
  cursor: url('/public/assets/pcursor.png') 3 27, pointer !important;
  background-image: url('/public/assets/images/bg.png');
  background-size: 16px;
  position: absolute;
  top: 62px;
  left: 0;
}
