.whiteboard {
  overflow-x: clip;
  user-select: none;
}

img,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  z-index: 2 !important;
  position: relative;
  pointer-events: none;
}

canvas {
  cursor: url('/public/assets/pcursor.png') 3 27, pointer !important;
  background-image: url('/public/assets/images/bg.png');
  background-size: 16px;
  position: absolute;
  top: 62px;
  left: 0;
}
