.py-x {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.block1 {
  background-color: #bcdbf9;
}
.block2 {
  background-color: #f8b1b1;
  height: 480px;
  display: grid;
}
.block3 {
  background-color: #bcbef9;
}
.bg-clr-4 {
  background-color: #bcf6f9;
}
.bg-clr-5 {
  background-color: #b1b8f8;
}
.bg-clr-6 {
  background-color: #f9ecbc;
}
.block2 img {
  width: 715px;
  height: auto;
  margin-left: -35px;
  object-fit: cover;
  max-width: unset;
  margin-top: -27px;
}
